h1 , h2 {
 font-family: Times New Roman;
 text-align: center;
 border: 8px;
 padding: 4px 4px 4px 4px;
 border-radius: 10px;
 margin: 4px 4px 4px 4px;
 background-color:  rgb(37, 147, 190);
 color: beige;
}

h3{
 font-family: Times New Roman;
 text-align: center;
 color: rgb(21, 2, 91);

}

html{
  background-image: url(/curriculo/rm222batch5-kul-17.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

p , li{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    color: rgb(34, 28, 165);
    border: 2px;
    padding: 2px 2px 2px 2px;
    border-radius: 5px;
    margin: 2px 2px 2px 2px;
}
a {
    text-decoration: none;
    color: rgb(34, 28, 165);
}


img{
height: 200px;
margin: 4px;
border-radius: 300px;
border: 4px solid rgb(34, 28, 165);
}

.grid-container {
  display: grid;
  grid-gap: 5px;
  grid-template-areas:
    "header header header"
    "dados links informacoes"
    "contatos contatos contatos"
    "footer footer footer";
}

.header {
  grid-area: header;
  text-align: center;
  background-color: #add8e6;
  padding: 10px;
}
.dados {
  grid-area: dados;
  background-color: #f0f8ff;
  padding: 10px;
}
.links {
  grid-area: links;
  background-color: #e6f7ff;
  padding: 10px;
}
.informacoes {
  grid-area: informacoes;
  background-color: #d1ecf1;
  padding: 10px;
}
.contatos {
  grid-area: contatos;
  background-color: #cce5ff;
  padding: 10px;
  background-color: #add8e6;
}
.footer {
  grid-area: footer;
  background-color: #add8e6;
  padding: 10px;
  
}